{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": "airbnb",
  "rules": {
    "max-len": ["warn", { "code": 140, "ignoreUrls": true }],
    "no-undef": "error",
    "no-unused-vars": "off",
    "camelcase": 0,
    "eol-last": 1,
    "no-multiple-empty-lines": 1,
    "comma-dangle": "off",
    "quotes": [2, "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "jsx-quotes": [2, "prefer-single"],
    "no-useless-escape": 0,
    "valid-jsdoc": 0,
    "linebreak-style": ["error", "unix"],
    "semi": "off",
    "semi-style": "off",
    "no-console": "off"
  }
}
